.customtab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the customtab content */
.customtab button {
  background-color: inherit;
  /*float: left;*/
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  padding: 0px 10px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.customtab button:hover {
  background-color: #ddd;
}

/* Create an active/current customtablink class */
.customtab button.active {
  /*background-color: #ccc;*/
  border: none;
  color: #2ebaae !important;
}

/* Style the customtab content */
.customtabcontent {
  display: none;
  width: 100%;
  max-height: 100%;
  position: absolute;
  border-top: none;
}

.projectdisplay {
  padding-bottom: 1em;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.links li.active {
  color: #2ebaae !important;
}

.projectWrapper {
  position: relative;
  width: auto;
  padding-bottom: 56.25%;
}